/TesteGit/nbproject/private/
/Auala8Noite/build/
/Auala8Noite/nbproject/private/
/ExerciciosAula8/nbproject/private/
/ExerciciosAula8/build/
/ExerciciosAula9/nbproject/private/
/ExerciciosAula9/build/
/Exercicio11Trabalho/nbproject/private/
/Exercicio11Trabalho/build/